*{
    padding: 0;
    margin: 0;
}
.iconBar {
  width: 83px;
  background-color: rgb(167, 209, 251); 
  height: 100vh;
  
 
}


.home:hover{
  display: inline;
  margin-left: 25px;
  position: absolute;
  z-index: 150;
  background-color: red;
  height: 93px;
  top: 0;
  display:contents;
  

}
.aaa{
  width: 100%;
  height: 100%;
}
.iconBar a {
  display: block;
  text-align: center;
  padding: 15px;
  
  color: white;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: all 0.7s ease-out;
}

.hme{
 display: none;
}


.asd:hover .hme{
  display: block;   
 font-size: 22px;
 padding-top: 5px;

}
.asd:hover{
  width: 130px;
 
}
.iconBar a:hover {
  background-color: rgb(61, 135, 209 );
}

.active {
  background-color: rgb(61, 135, 209);
}

.al{
display: inline;
}
.ala{
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.af{
   margin-top: 10px; 
}
.cntr{
    text-align: center;
    width: 300px;
    margin-left: 13%;
}
input{
    width: 150px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
   

  }
  
  .tabs_head {
    display: flex;
    align-items: stretch;
  }
  .tabs_toggle {
    display: flex;
    width: 50%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: rgb(209, 232, 255);
    cursor: pointer;
  }
  .tabs_toggle.is-active {
    background: rgb(188, 221, 255);
  }
  .tabs_content {
    padding: 10px;
    display: none;
  }
  .tabs_content.is-active {
    display: block;
  }
  .tabs_title {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .tabs_text {
    font-size: 14px;
    color: black;
  }
 
.rez2{
    margin-left: 190px;
    margin-top: 5px;
    font-size: 20px;
  }
  .form {  
    background-color: #fff;  
    height: 280px;  
    width: 450px;  
    border-radius: 20px;  
    margin: 20px auto 20px auto;  
    display: block;  
    border: solid 1px #289df6;  
    box-shadow: 0 0 40px 0 #ddd;  
   }  
   .tabs {
    width: 500px;
    display: flex;
    flex-direction: column;
    
    margin-left: 12%;
    margin-top: -43%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /*height: 470px;*/
  }

   .form:hover {  
    box-shadow: 0 0 60px 0 #ccc;  
    transition: .4s;  
    transform: scale(1.02);  
   }  
   .row-one {  
    padding: 20px;  
   }  
   .row-two {  
    padding: 20px;  
   }  
   .text-input {  
    width: 60px;  
    height: 30px;  
    border-radius: 10px;  
    background-color: #dbeffe;  
    border: none;  
    outline: none;  
    padding: 5px 10px;  
  
   }  
   .text-input:last-child {  
    margin-bottom: 35px;  
   }  
   .text-input:hover {  
    background-color: #cbe7fd;  
   }  
   #submit {  
    border: none;  
    border-radius: 10px;  
    height: 40px;  
    width: 140px;  
    background-color: #289df6;  
    color: #fff;  
    margin: auto;  
    display: block;  
    outline: none;  
    cursor: pointer;  
   }  
   #submit:hover{  
    background-color: #0a8ef2;  
   }  
   .text {  
    display: inline-block;  
    margin: 5px 20px 5px 8px;;  
   }  
   .row-one {  
    padding: 30px 20px 15px 20px;  
   }  
   .row-two {  
    padding: 15px 20px 30px 20px;  
   }  
   .container {  
    display: inline-block;  
    position: relative;  
    padding-left: 30px;  
    cursor: pointer;  
    user-select: none;  
   }  
   .container input {  
    position: absolute;  
    opacity: 0;  
   }  
   .checkmark {  
    position: absolute;  
    top: 0;  
    left: 0;  
    height: 25px;  
    width: 25px;  
    background-color: #dbeffe;  
    border-radius: 50%;  
   }  
   .container:hover input ~ .checkmark {  
    background-color: #cbe7fd;  
   }  
   .container input:checked ~ .checkmark {  
    background-color: #289df6;  
   }  
   h1 {  
    font-size: 30px;  
    font-weight: 300;  
    text-align: center;  
    color: #289df6;  
    padding-top: 15px;  
    display: block;  
   }  
   h2 {  
    font-size: 22px;  
    font-weight: 300;  
    text-align: center;  
   }  
   h3 {  
    font-size: 24px;  
    font-weight: 300;  
    text-align: center;  
    padding: 15px;  
   }  
   h3 b {  
    font-size: 32px;  
    font-weight: 300;  
    color: #289df6;  
   }  
   .checkmark:after {  
    content: "";  
    position: absolute;  
    display: none;  
   }  
   .container input:checked ~ .checkmark:after {  
    display: block;  
   }  
   .container .checkmark:after {  
    left: 9px;  
    top: 5px;  
    width: 5px;  
    height: 10px;  
    border: solid white;  
    border-width: 0 2px 2px 0;  
    transform: rotate(45deg);  
   }  
   .rez{
    margin-left: 170px;
    margin-top: 10px;
    font-size: large;
   }
   .bmit{
    margin-left: 65%;
    position: absolute;
    bottom: 40%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
   
   }
 
   table, th ,td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 350px;
    text-align: center;
    height: 23px; 
    border-color: rgb(41, 143, 166);
  }
  th{
    background-color: rgb(209, 232, 255);
  }

  @media screen and (min-width: 1400px){
    .tabs{
      margin-left: 15%;
      margin-top: -43%;
    }
    .bmit{
      margin-left: 54%;
      position: absolute;
      bottom: 50%;
    
     }
     table, th ,td{
      border: 1px solid black;
      border-collapse: collapse;
      width: 450px;
      text-align: center;
      height: 27px;
    }
  }


